// Colors
//------------------------------------------------------------------------------
$body-bg-color: #ecf0f1;
$text-color: #111;
$label-text-color: #fff;
$label-bg-color: #2c3e50;

// Board colors.
$board-colors: (
  "default":      #34495e,
  "in-progress":  #27ae60,
  "dates":     #3498db,
);

// Label colors.
$label-colors: (
  "default":      #2c3e50,
  "stlc":         #574085,
  "pinterest":    #920c12,
  "huddle":       #008CCC,
  "hogue":        #222222,
);